body {
	margin: 0;
}
a {
	color: green;
	text-decoration: none;
}
img, iframe {
	width: 100%;
	border: 1px solid black;
}
h1 {
	font-size: 40px;
	text-align: center;
	border-bottom: 1px solid gray;
	margin: 0;
	padding: 20px;
}
h2, h3 {
	text-align: center;
	line-height: 100px;
}
ul, ol {
	line-height: 35px;
}
#grid {
	display: grid;
	grid-template-columns: 1fr 180px;
}
#contents {
	margin: 0 auto;
	padding: 30px;
}
#menu {
	border-left: 1px solid gray;
	width: 110px;
	margin: 0;
	padding-top: 30px;
	font-weight: bold;
	list-style: none;
}
@media(max-width:800px) {
	img {
		height: max-content;
	}
	iframe {
		max-height: max-content;
	}
	#grid {
		display: block;
	}
	#menu {
		border: 1px solid gray;
		padding: 60px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}